body {
    height: 100vh;
    position: relative;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1 {
    font-size: 50px;
    margin-bottom: 0;
}
p {
    font-size: 20px;
    line-height: 1.5;
}
p:first-of-type {
    margin-top: 0;
    margin-bottom: 40px;
}
p:last-of-type {
    margin-top: 40px;
}
span {
    font-style: italic;
    font-weight: bold;
}